.add-movie-container {
    width: 30%;
    position: absolute;
    top: 50px;
    right: 50px;
}

.inactive {
    opacity: 0;
    transform: translateY(-150px);
    transition: 1s ease-out;

}

.active {
    transform: translateY(0);
    transition: opacity 1s ease-in;    
}